// Font Family 
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0em;
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #ffff;

    &:hover{
        text-decoration: none;
        color: #ffff;
    }
}